
<h4 class="text-inverse" align="center">Your Ebook cart </h4>
<hr>
<ul class="cart">

		<%=render(cart.line_items)%>
	
				<li><p class="text-primary">Total:&nbsp;<%=number_to_currency(@cart.total)%></p></li>
				
				<%= link_to "Empty Cart", @cart, method: :delete, confirm: "Are you sure?", :class => "btn btn-warning btn-xs"%>
				<%= link_to "Checkout", new_order_path, :class => "btn btn-success btn-xs"%>




</ul>