<h3>Your Ebook cart </h3>

<ul class="cart">
		<%=render(cart.line_items)%>
	
				<li><p class="text-primary">Total:&nbsp;<%=number_to_currency(@cart.total)%></p></li>
				
				<%= link_to "Empty Cart", @cart, method: :delete, confirm: "Are you sure?", :class => "btn btn-warning"%>




</ul>