
				<table class="table">
				<th>Title</th>
				<th>Unit price</th>
				<th>Qty</th>
				<th></th>
				<th></th>
				<th>Price</th>
				<%=render(cart.line_items)%>
				</table>
				<table class="table" id="cart">
				<tr>
				<td></td>
				<td></td>
				<td><h4 align="right">Total:</h4></td>
				<td></td>
				<td><h4 class="total-price"><%=number_to_currency(@cart.total)%></h4></td>
				</tr>
				<tr>
				<td>
				
				</td>
				</tr>
 
</table>
 <div class="modal-footer">
        <%= link_to "Empty Cart", @cart, method: :delete, confirm: "Are you sure?", :class => "btn btn-warning"%>
        <%= link_to 'Checkout with Paypal', @cart.paypal_url(store_url, payment_notifications_url), :class => 'btn btn-primary'%>
      </div>
