// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header-wrap{
	box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.5);
	-o-box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.5);
}