
  <footer id="footer" class="wrapper clearfix">
    
        <div class="column contact-info">
      <ul>
                <li>
          <span class="ph-image" title="Phone"></span>
          <span class="ph-text">
            123456789<br>
            123456789         </span>
        </li>
                
                <li>
          <span class="fax-image" title="Fax"></span>
          <span class="fax-text">
            123456789<br>
            123456789         </span>
        </li>
                
                <li>
          <span class="email-image" title="Email us"></span>
          <a href="mailto:test@test.com" class="email-text">Click here<br> to email us</a>
        </li>
          
      </ul>
    </div>
        
        <div class="column">
      <h3 class="header-3">Information</h3>
      <ul class="ul-list">
                <li><a href="index-route=information_information&amp;information_id=4.php.html">About Us</a></li>
                <li><a href="index-route=information_information&amp;information_id=6.php.html">Delivery Information</a></li>
                <li><a href="index-route=information_information&amp;information_id=3.php.html">Privacy Policy</a></li>
                <li><a href="index-route=information_information&amp;information_id=5.php.html">Terms &amp; Conditions</a></li>
              </ul>
    </div>
        
    <div class="column">
      <h3 class="header-3">Customer Service</h3>
      <ul class="ul-list">
        <li><a href="index-route=information_contact.php.html">Contact Us</a></li>
        <li><a href="index-route=account_return_insert.php.html">Returns</a></li>
        <li><a href="index-route=information_sitemap.php.html">Site Map</a></li>
      </ul>
    </div>
    <div class="column">
      <h3 class="header-3">Extras</h3>
      <ul class="ul-list">
        <li><a href="index-route=product_manufacturer.php.html">Brands</a></li>
        <li><a href="index-route=account_voucher.php.html">Gift Vouchers</a></li>
        <li><a href="index-route=affiliate_account.php.html">Affiliates</a></li>
        <li><a href="index-route=product_special.php.html">Specials</a></li>
      </ul>
    </div>
    <div class="column last">
      <h3 class="header-3">My Account</h3>
      <ul class="ul-list">
        <li><a href="index-route=account_account.php.html">My Account</a></li>
        <li><a href="index-route=account_order.php.html">Order History</a></li>
        <li><a href="index-route=account_wishlist.php.html">Wish List</a></li>
        <li><a href="index-route=account_newsletter.php.html">Newsletter</a></li>
      </ul>
    </div>
    
    <div class="clearfix"></div>
    <div class="footer-bt clearfix">
      
      <div class="social">
                <a href="test/index.html" target="_blank" class="facebook-icon" data-original-title=""></a>
                
                <a href="test/index.html" target="_blank" class="twitter-icon" data-original-title=""></a>
                
                <a href="test/index.html" target="_blank" class="youtube-icon" data-original-title=""></a>
                
                <a href="test/index.html" target="_blank" class="google-icon" data-original-title=""></a>
                
                  <a class="mailto-icon addthis_button_email at300b" data-original-title="" target="_blank" title="Email" href="#"><span class="at16nc at300bs at15nc at15t_email at16t_email"><span class="at_a11y">Share on email</span></span></a>
                        
                  <a class="addthis-icon addthis_button_compact at300m" data-original-title="" href="#"><span class="at16nc at300bs at15nc at15t_compact at16t_compact"><span class="at_a11y">More Sharing Services</span></span></a>
          <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js"></script><div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000;"><iframe id="_atssh976" title="AddThis utility frame" src="//ct1.addthis.com/static/r07/sh168.html#iit=1406994252568&amp;tmr=load%3D1406994250543%26core%3D1406994250786%26main%3D1406994252561%26ifr%3D1406994252574&amp;cb=0&amp;cdn=1&amp;chr=UTF-8&amp;kw=&amp;ab=-&amp;dh=&amp;dr=&amp;du=file%3A%2F%2F%2FUsers%2Fsino%2FDesktop%2Fdemo3%2Findex.html&amp;dt=Cupid%20-%20R.Gen%20OpenCart%20Store%20Template&amp;dbg=0&amp;md=0&amp;cap=tc%3D0%26ab%3D0&amp;inst=1&amp;vcl=0&amp;jsl=8193&amp;prod=undefined&amp;lng=en-US&amp;ogt=&amp;pc=men&amp;pub=&amp;ssl=0&amp;sid=53dd074a6a1c2c9b&amp;srpl=1&amp;srcs=1&amp;srd=1&amp;srf=1&amp;srx=1&amp;ver=300&amp;xck=0&amp;xtr=0&amp;og=&amp;aa=0&amp;csi=undefined&amp;rev=1406582527&amp;ct=1&amp;xld=1&amp;xd=1" style="height: 1px; width: 1px; position: absolute; z-index: 100000; border: 0px; left: 0px; top: 0px;"></iframe></div><script type="text/javascript" src="http://ct1.addthis.com/static/r07/core145.js"></script> 
                <img src="catalog/view/theme/rgen-cupid/image/rgen/crads.png" class="credit-cards">
      </div>
      <div class="cp-text" id="powered">Powered By <a href="http://www.opencart.com">OpenCart</a><br> Cupid - R.Gen OpenCart Store Template © 2014</div>
    </div>
    
    
  </footer>

